.registerTop {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.registerTop__right img {
    width: 36px;
    height: 36px;
    background-color: #46C578;
}