.registerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;  
        .registerTopText {
            display: flex;
            column-gap: 10px;
            align-items: center;
                .goBack {
                    width: 36px;
                    height: 36px;
                    background-color: rgba(70, 197, 120, 1);
                    border-radius: 50%;
                }
        }
}
.registerMainContent {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h2 {
            font-weight: 500;
            font-size: 42px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 30px;
        }
        .registerBox {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            margin-bottom: 23px;
                
        }
}
.registerBox {
    .registerLine {
        display: flex;
        flex-direction: column;
        width: 380px;
        p {
            font-weight: 500;
            font-size: 18px;
            color: rgba(48, 48, 48, 1);
            margin-bottom: 10px;
        }
        input {
            padding: 17px 40px 17px 15px;
            border-radius: 10px;
            border: 1px solid rgba(167, 174, 210, 1);
            font-weight: 300;
            font-size: 16px;
            outline: none;
        }
    }
}
.choosePol {
    position: relative;
    .arrow {
        width: 16px;
        height: 16px;
        position: absolute; 
        margin: 50px 0 0 350px;
    }
}
.registerLineData {
    display: flex;
    flex-direction: column;
    .born{
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .dataLine {
        display: flex;
        column-gap: 10px;
        .dayMonthYear {
            position: relative;
            input{    
                padding: 17px 35px 17px 15px;
                border-radius: 10px;
                border: 1px solid rgba(167, 174, 210, 1);
                font-weight: 300;
                font-size: 16px;
                outline: none;
                width: 120px;
            }
            .chevron {
                position: absolute;
                top: 18px;
                left: 88px;
            }
        }
    }
}
.registerMainContent {
    padding-bottom: 100px;
    .submit {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        .sub {
            width: 350px;
            font-weight: 300;
            font-size: 12px;
            line-height: 120%;
            margin-bottom: 0;
            a {
                text-decoration: none;
                color: Green;
            }
        }
    }
    .registrate {
        background-color: rgba(70, 197, 120, 1);
        width: 380px;
        border-radius: 10px;
        border: none;
        border-width: 1.5px;
        padding: 14px 0 14px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }
}
